= link_to "Octopus", root_path, :class => 'brand'
%ul.nav
  - if user_signed_in?
    %li
      = link_to 'Logout', destroy_user_session_path, :method=>'delete'
  - else
    %li
      = link_to 'Login', new_user_session_path

  %li#download
    = link_to(I18n.t('Download'), "/download/TestData.zip")
    
  %li  
    = link_to "路云信息科技有限公司", "http://www.roadclouding.com"